*{
    box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
} /* lo recomenda la IA*/

header {
  display: block;
  text-align: center;
  background-color:  rgb(254, 254, 254);
  width: 100%;
  padding: 0.5em 0;
  margin-bottom: 0; 
}

body {
    background-image: url('../img/fondo.png');
    background-repeat: repeat;
    margin: 0;
    padding: 0;

}

p{
 text-align: justify;
}

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
nav li{
    display: inline-block;
}
nav a {
	font-size: 1.2em;
	line-height: 2.2em;
	padding: 0.5em 2em;
	text-align: center;
	text-decoration: none;
}

nav a:link {
	background-color: #60d8fd;
	color: #27b7ff;
}
nav a:visited {
	background-color:  #7abeeb;
	color: #484f55;
}
nav a:hover {
	background-color: #090e20;
	color: #FFF;
}
nav a:active {
	background-color: rgb(164, 190, 193);
	color: #1b1651;
}

h1{
 font-family: "Arvo", serif;
 font-size: 9em;
 background-image: url('../img/fondo.png');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} /* recomendo IA*/

.subtitulos{
font-family: "Arvo", serif;
text-align: center;
}

#contenido{
    background-image: linear-gradient(to top, rgb(6, 120, 173), rgb(254, 254, 254));
	width:50%;
	padding: 2em;
    margin: 0 auto;
    border-top: 0;
}

#contenido h3{
    text-align: center;
    font-family: "Arvo", serif;
    font-size: 2em;
}

footer{
    font-family: "Arvo", serif;
    text-align: center;
    font-size: 0.9em;
    margin-top: 3em;
     background-color:  rgba(255, 255, 255, 0.063);
    padding: 2em;
}

section{
    background-color: rgba(255, 255, 255, 0.063);
    padding: 2em;
}

iframe{
    display: block;
    margin: auto;
   
}
#obras ul{
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 1.5em;
    font-weight: bold;
    text-align: center;
}
img{
    display: block;
  margin: auto;
  width: 50%;
  border: 1px solid rgb(4, 12, 33);
}
.piefoto strong{
color: rgb(4, 12, 33);
}
.piefoto{
    text-align: center;
}